<%- include('../layouts/header', {title: 'Editar'}) %>

<%- include('../layouts/menu') %>

<section class="section">
  <div class="container">
    <h1 class="title size-4">Editar Lista</h1>

    <%- include('form', {method: 'post', url: `/checklists/${checklist.id}/?_method=put`, checklist: checklist}) %>
  </div>
</section>

<%- include('../layouts/footer') %>